<div>
  <h1>Convert your favorite blog to a kindle book</h1>
  
  <p>Blog2Ebook is a tiny app that takes a RSS feed and converts it to a kindle book and emails it to you.</p>
  <ul>
    <li>Currently only supports the kindle</li>
    <li>RSS feed to kindle</li>
    <li>Single post to kindle (useful because some https sites no longer allow bookmarklets to work)</li>
    <li>Copied Text to kindle</li>
  </ul>

  <p class='usage'>
   Since this uses some free resources, it can only be used a limitted number of times a day. There are <span><%= @usage %></span> uses remaining today.  
  </p>

  <div id='setupNotice' class='setup-notice' style='display:none'>
    <h3>
      You must accept configure your kindle email to accept emails before sending!
    </h3>
    <p>
      To do this follow the simple steps below.
      <ol>
        <li>
          visit <a href="https://www.amazon.com/gp/digital/fiona/manage#pdocSettings">https://www.amazon.com/gp/digital/fiona/manage#pdocSettings</a>
        </li>
        <li>
          notice you kindle email address, you will want send to yourname@kindle.com for whispernet or yourname@free.kindle.com for free wifi delivery.
        </li>
        <li>find the section 'Approved Personal Document E-mail List'</li>
        <li>
          add 'kindleizer@mayerdan.com' to the list of approved email addresses
        </li>
        <li>
  Add your email to the form below to pre-fill the email option and make this notice go away. (email is not stored on the server just saved in browser)
        </li>
      </ol>

  <form action="#" method="post" id='notice-form'>
    <label>Kindle Email: 
      <input type="text" name="email" id="kindle-mail" placeholder="brucewayne@free.kindle.com" />
    </label>
    <input type="submit" name="submit" value="Add Email" class="button" />
  </form>

    </p>
  </div>

  <h3>Convert RSS feed to Kindle Book</h3>
  <form action="/kindleizeblog" method="post">
    <label>RSS feed url: 
      <input type="text" name="url" placeholder="RSS feed url (ex: http://codeascraft.com/feed/)" />
    </label><br/>
    <label>Kindle Email: 
      <input type="text" name="email" placeholder="brucewayne@free.kindle.com" />
    </label><br/>
    <input type="submit" name="submit" value="Kindleize It" class="button" />
  </form>

  <h3>Send Single Article</h3>
  <form action="/kindleize" method="post">
    <label>Single Article url: 
      <input type="text" name="url" placeholder="Article url (ex: http://codeascraft.com/feed/)" />
    </label><br/>
    <label>Kindle Email: 
      <input type="text" name="email" placeholder="brucewayne@free.kindle.com" />
    </label><br/>
    <input type="submit" name="submit" value="Kindleize It" class="button" />
  </form>

  <h3>Directly Send Content</h3>
  <form action="/kindleizecontent" method="post">
    <label class='short'>Kindle Email: 
      <input type="text" name="email" placeholder="brucewayne@free.kindle.com" />
    </label>
    <input type="submit" name="submit" value="Kindleize It" class="button stacked" />
    <br/>
    <label>Content: 
      <textarea name="content" placeholder="pasted in content"></textarea>
    </label><br/>
  </form>
</div>