body {
  padding-top: 50px;
}

input[type="text"] {
    width: 80%;
}

label.short {
    display: inline-block;
    width: 640px;
}

.short input[type="text"] {
    width: 520px;
}

input.stacked {
    margin-bottom: 8px;
    margin-left: 12px;
}

textarea {
    width: 80%;
    height: 200px;
}

.success {
  color: #00FF00;
}

.setup-notice {
  background: #FFCCCC;
  padding: 8px;
  margin-bottom: 24px;
}

.setup-notice h3 {
  font-size: 16px;
  color: #C00000;
}

footer{
    background-color: #eee;
    padding-left: 20px;	
    padding-top: 12px;
    bottom: -50px;
    height: 50px;
    left: 0;
    right: 0;
}