body {
  padding:0px;
  margin:0px 0px; 
  text-align:center;
  background: url('/images/kindle.jpg');
  background-repeat:no-repeat;
  background-position:center top;
  background-color:black;
  height: 840px;
}

.content {
    height: 470px;
    width:350px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0px auto;
    text-align:left;
    padding:10px;
    padding-right:0px;
    margin-top:134px;
    background-color:#F6F6F6;
}

.content img {
    max-width:350px;
}

.content a {
    color: #333;
}